trigger:
- main

pool:
  name: 'testpool'

steps:
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
- task: AzureResourceManagerTemplateDeployment@3
  displayName: 'Deploy ARM Template'
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'Testprojconnection'
    subscriptionId: '6126332c-5b2e-46d0-bdbb-a09be68684db'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'NuthanRg'
    location: 'East US'
    csmFile: '$(System.DefaultWorkingDirectory)/Infrapipelines/VmTemplate.Json'
    csmParametersFile: '$(System.DefaultWorkingDirectory)/Infrapipelines/vmparmeter.json'
    # Override any parameters if needed
    # overrideParameters: '-projectName ProductionProject'
