trigger:
- main

pool:
  name: 'Azure Pipelines'
variables:
- group: ProdVariableGroup
- name: my-location
  value: $[variables.location]
steps:
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
- task: AzureResourceManagerTemplateDeployment@3
  displayName: 'Keyvault Deployment'
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'Testprojconnection'
    subscriptionId: '6126332c-5b2e-46d0-bdbb-a09be68684db'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'NuthanRg'
    location: '$(my-location)'
    csmFile: '$(System.DefaultWorkingDirectory)/Infrapipelines/keyvault/keyvault1.Json'
    csmParametersFile: '$(System.DefaultWorkingDirectory)/Infrapipelines/keyvault/KeyvaultParameters.Json'    
- task: AzureResourceManagerTemplateDeployment@3
  displayName: 'Vm Deployment'
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'Testprojconnection'
    subscriptionId: '6126332c-5b2e-46d0-bdbb-a09be68684db'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'NuthanRg'
    location: 'East US'
    csmFile: '$(System.DefaultWorkingDirectory)/Infrapipelines/virtualMachines/VmTemplate1.Json'
    csmParametersFile: '$(System.DefaultWorkingDirectory)/Infrapipelines/virtualMachines/VmParameters.Json'
- task: AzureResourceManagerTemplateDeployment@3
  displayName: 'Storage Account Deploy'
  inputs:
    deploymentScope: 'Resource Group'
    azureResourceManagerConnection: 'Testprojconnection'
    subscriptionId: '6126332c-5b2e-46d0-bdbb-a09be68684db'
    action: 'Create Or Update Resource Group'
    resourceGroupName: 'NuthanRg'
    location: 'East US'
    csmFile: '$(System.DefaultWorkingDirectory)/Infrapipelines/StorageAccount/Storage1.Json'
    csmParametersFile: '$(System.DefaultWorkingDirectory)/Infrapipelines/StorageAccount/StorageParameters.Json'

    # Override any parameters if needed
    # overrideParameters: '-projectName ProductionProject'
